.Rectangle{
    width: 412px;
    height: 416px;
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    border-radius: 30px;
}
  
  .Oval{
    width: 48px;
    height: 48px;
    background: #262E38;
    margin-top: 32px;
    margin-left: 32px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .HeaderText{
/*     width: 204px; */
    height: 43px;
    margin-left: 35px;
    margin-top: 35px;
    font-family: 'Overpass';
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    color: #FFFFFF;
    font-style: normal;
  }
  
  .text{
    width: 340px;
    height: 72px;
    margin-left: 35px;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #969FAD;
  }
  
  .submit{
    background: #FC7614;
    border-radius: 22.5px;
    width: 341px;
    height: 45px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Overpass';
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .submit:hover{
    background-color: #FFFFFF;
    color: #FC7614;
  }
  
  .submit-header{
    display: flex;
    justify-content: center;
  }
  
  @media only screen and (max-width: 600px) {
    .Rectangle{
      width: 327px;
      height: 360px;
    }
  
    .Oval{
      margin-left: 24px;
      width: 40px;
      height: 40px;
    }
  
    .HeaderText{
      margin-left: 24px;
      font-size: 24px;
      margin-top: 15px;
    }
    .text{
      margin-left: 24px;
      font-size: 14px;
      width: 279px;
    }
  
    .submit{
      width: 279px;
      height: 45px;
      font-size: 14px;
    }
  }
  
